.heading{
    width: 70%;

}

body{
    background-size: cover;
    background-position: center;
}

.back{
    background-color: black;
    float: right;
}

.img{
    height: 720px;
}